@charset "UTF-8";

/* Last edit: 2/18/2018 8:00 PM */
/* Last validated error free: 2/18/2018 9:27 PM */

/* Cite code */

body {
    background-color:antiquewhite;
    font-style: normal;
    font-family:inherit;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
section.one {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: floralwhite;
}
section.two {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}
section.three {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: floralwhite;
}
section.four {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}
section.five {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: floralwhite;
}
section.six {
    color:black;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
header {
    background-color:floralwhite
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer {
    position: fixed;
    bottom:0;
    background-color:floralwhite;
}
.littletree {
    display:none;
}
.centerpic {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
section.link {
    text-align: center;
}
